alembic==1.0.8
altgraph==0.10.2
asn1crypto==0.24.0
bdist-mpkg==0.5.0
cffi==1.15.0
cfgv==3.3.1
chardet==3.0.4
Click==7.0
cryptography==2.6.1
distlib==0.3.4
enum34==1.1.6
filelock==3.6.0
Flask==1.0.3
Flask-Admin==1.5.3
Flask-Cors==3.0.6
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-Moment==0.7.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.2
future==0.17.1
greenlet==1.1.2
gunicorn==19.9.0
identify==2.5.0
idna==2.6
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
macholib==1.5.1
Mako==1.2.0
MarkupSafe==1.1.1
modulegraph==0.10.4
nodeenv==1.6.0
paramiko==2.0.0
pbr==5.9.0
pexpect==4.2.1
pip-autoremove==0.9.1
platformdirs==2.5.2
pre-commit==2.19.0
ptyprocess==0.7.0
py2app==0.7.3
pyasn1==0.4.2
pycparser==2.19
Pygments==2.2.0
pyOpenSSL==19.0.0
python-dateutil==2.8.2
python-dotenv==0.10.1
python-editor==1.0.4
pyxdg==0.25
PyYAML==6.0
SecretStorage==2.3.1
six==1.12.0
SQLAlchemy==1.4.36
testresources==2.0.1
toml==0.10.2
virtualenv==20.14.1
Werkzeug==2.1.2
WTForms==2.2.1
