@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500&display=swap');

:root {
    --nav-grey: #d0d0d0;
    --nav-grey-border: #c5c5c5;
    --body: 'Outfit', sans-serif;
    --title: 'Inconsolata', monospace;
}

html, body {
    height: 100%;
    font-family: var(--body);
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-family: var(--title);
}

body {
    background-color: #e3e3e3;
}

.vertical-align {
    vertical-align: middle;
    text-align: center;
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

table {
    table-layout: fixed;
    width: 100%;
}

.padded {
    padding: 2em;
}

#page-content {
    min-height: 80vh;
}