<!DOCTYPE HTML>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link  id="favicon" rel="icon" type="image/png" href="{{ url_for('static', filename="img/favicon.png") }}"/>

        {% include "includes/style.html" %}
		<title>{{ title }} | {{ app_title }}</title>
	</head>
    <body style="overflow-x: hidden;">
        {% set context = "html" %}
        {% include 'includes/navbar.html' %}
        <div id="page-content" class="container-fluid">
            <div class="row d-flex justify-content-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include "includes/footer.html" %}
    </body>

    {% include "includes/script.html" %}
    {% block js %}{% endblock %}
</html>
