<!DOCTYPE HTML>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include "includes/style.html" %}
		<title>{{ title }} | {{ app_title }}</title>
	</head>
	<body>
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "includes/footer.html" %}
	</body>
    {% include "includes/script.html" %}
    {% block js %}{% endblock %}
</html>
